<%#
UserModel render용 키 정보 :
{
    sId : 회원 SID(integer)
    uId : 회원 UID(uuid string),
    firstNameKO : 한국 이름 ex),
    familyNameKO : 한국 성,
    fullNameKO : 한국 전체 이름,
    firstNameEN : 영문 이름
    familyNameEN : 영문 성,
    fullNameEN : 영문 전체 이름,
    gender : 성별 ('M'/'F'),
    phone : 핸드폰 번호(+821047472727),
    email : E-Mail 주소,
    birth : 생년월일 (yyyymmdd),
    imgsrc : 프로필 사진 주소,
}
%>
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <link rel="stylesheet" href="/css/libs/animate.min.css">
        <link rel="stylesheet" href="/css/libs/selectize.css">
        <meta name="description" content="">
        <link rel="stylesheet" href="/css/common<%= locals.min %>.css">
        <link rel="stylesheet" href="/css/libs/scrollbar.css">
        <link rel="stylesheet" href="/css/mypage/main<%= locals.min %>.css">
        <link rel="stylesheet" href="/css/libs/awesome-bootstrap-checkbox.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />


        <script src="/js/libs/selectize.js"></script>        
        <link rel="stylesheet" href="/css/libs/progressbar.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
        <script src="/js/utils<%= locals.min %>.js"></script>
        <script src="/js/formatter/view_formatter<%= locals.min %>.js"></script>
        <script src="/js/formatter/record_change_formatter.js"></script>
        <script src="/js/libs/scrollbar.js"></script>

        <script src="/js/common<%= locals.min %>.js"></script>
        <script src="/js/testinterface<%= locals.min %>.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    </head>