<%/*
{
    title : 증명서 유형 제목(subId),
    record : 원본 데이터
}
*/%>
<%- include('base_head_import') -%>
<head>
    <link rel="stylesheet" href="../css/mypage/certviewer.css">
    <script src="/js/formatter/certs_formatter.js"></script>
    <script src="../js/certviewer.js"></script>
    <script src="../js/jquery-qrcode-0.14.0.min.js"></script>
    <script src="../js/html2canvas.min.js"></script> 
    <script src="../js/blockui/jquery.blockUI.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=0.5" />
    <style type="text/css">

    @media print
    {

        body * { visibility: hidden; }
        #printcontent * { visibility: visible; }
        /* #printcontent { position: absolute; top: 40px; left: 30px;} */
        #printcontent { position: absolute; top: 20px; left: 0.1px;  width:100%}        * {
            /* -webkit-print-color-adjust: exact;         */
        }
        /* .inner-container{page-break-before:always;} */
        .certImg{page-break-before:always;} 

    }

    @media screen{
        body{
            -webkit-text-size-adjust: none;            
        }
    }
    </style>

</head>

<!------ Include the above in your HEAD tag ---------->

<body>


<div class="header">
   
   <a href="/certs"><img src="../img/certviewer/wt.svg" alt=""></a>
   <div>
       <p>증명서 상세보기</p>
       <p id="cert_title"></p>       
   </div>
   <button id="more-button">···</button>
    <a href="#cert-add-dialog" rel="modal:open">
   <button class="primary-solid-btn">   전송
    </button>
    </a>

   <button class="border-btn">다운로드</button>
   <button id="btn_print" class="border-btn">인쇄</button>
   
    <div id="more-button-div">
       <p>항목#1</p>
       <p>항목#2</p>
       <p>항목#3</p>
    </div> 
    
</div>

<div class="main-body" >
        
    <div class="outer-container" > 
        <div class="inner-container">                     
        </div>        
    </div> 
    <div id="printcontent" >
        
    </div>
</div>
<div class="main-body-footer">
    <div class="main-body-footer-1st-line">
        <div class="main-body-footer-left">
            <div>
                <div>
                    <div class="main-body-footer-1">발급기관</div>
                    <div class="main-body-footer-2">발급일</div>
                    <div class="main-body-footer-3">트랜젝션 ID</div>
                </div>
                <div>
                    <div class="main-body-footer-4"></div>
                    <div class="main-body-footer-5">
                        <script>
                            var sdate = formatDate('<%= createdDate %>');
                            $('.main-body-footer-5').text(sdate);
                        </script>
                    </div>
                    <div class="main-body-footer-6"><%= txid %></div>
                </div>
            </div>
        </div>
        <div class="main-body-footer-right">
            <a class="main-body-footer-right-button1">내역 검증</a>

        </div>
    </div>
</div>
<div class="main-body-footer-decription">
    <div class="main-body-footer-decription-left">증명서 발급에 사용되는 항목들은 발급기관에서 제공하고 있으며, 블록체인에 등록되어 안전하게 보관되고 있습니다.</div>
    <div class="main-body-footer-decription-right">
        <div class="main-body-footer-decription-right-text">Powered By</div>    
        <div class="main-body-footer-decription-right-img">
            <img src="/img/certviewer/group-10.svg" class="Group-10"></img>
        </div>
    </div>
</div>

<div id="cert-add-dialog" class="modal">
    <p>증명서 전송<span>증명서를 레쥬메 서비스를 통해 보다 편리하게 전송해보세요.</span></p>    
       
    <div class="modal-sub-header">
        <span>증명서 링크 생성</span>
        <span>이메일로 전송</span>
        
    </div>
      
       
    <div class="modal-body">
     
        <div class="cert-create-div">
          
           <input type="text" id="cert-url-input" placeholder="생성된 링크가 없습니다. 링크 생성 버튼을 클릭해주세요.">
            <button class="border-btn" id="create-link-button">링크 생성</button>

            <div class = "open-range-div">
                <span>공개 대상</span>
                <div class="abc-radio">
                    <input type="radio" id="radio1" name="open-range-1" value="">
                    <label for="radio1" class="default-password-label" class="default-label">
                        링크 소유자
                    </label>
                </div>
                <div class="abc-radio">
                    <input type="radio"  id="radio2" name="open-range-1"value="">
                    <label for="radio2" class="aware-password-label">
                       비밀번호를 알고있는 사람
                    </label>
                </div>


                   <div class="password-div">
                       <input id="shared_password" type="text"  placeholder="비밀번호를 설정해주세요." />
                       <button class="border-btn">설정</button>
                    </div>

            </div>
            <div class = "expire-date-div">
                <span>만료일 설정</span>
                <div class="abc-radio">
                    <input type="radio" id="radio3" name="expire-date-1" value="">
                    <label for="radio3" class="default-period-label" class="default-label">
                        기한 없음
                    </label>
                </div>
                <div class="abc-radio">
                    <input type="radio" id="radio4" name="expire-date-1" value="">
                    <label for="radio4" class="expire-period-label">
                       특정 기간까지 공유
                    </label>
                </div>

                <div class="period-div">
                  <button class="calendar"><img src="../img/myresume/icon-calendar.svg" alt=""></button>
                <input type="text" class="form-control expire-period"  placeholder="YYYY-MM-DD"/>

                   <button  class="border-btn">설정</button>
                </div>

            </div>

        </div>
        
        <div class="email-send-div">
            <input type="text" id="email-send-input" placeholder="증명서를 전송할 이메일주소를 입력하고, 엔터키를 눌러주세요.">
            
<!--        <textarea name="" id="" cols="30" rows="10" valign='middle' placeholder="메일 본문 메시지 추가(선택 사항)"></textarea>-->
        <div id="wrap">
          <div class="area dummy"></div>
          <textarea class="area" placeholder="메일 본문 메시지 추가(선택 사항)"></textarea>
        </div>
            <div class = "open-range-div">
                <span>공개 대상</span>
                <div class="abc-radio">
                    <input type="radio" id="radio5" name="open-range-2" value="">
                    <label for="radio5" class="default-password-label" class="default-label">
                        링크 소유자
                    </label>
                </div>
                <div class="abc-radio">
                    <input type="radio"  id="radio6" name="open-range-2"value="">
                    <label for="radio6" class="aware-password-label">
                       비밀번호를 알고있는 사람
                    </label>
                </div>


                   <div class="password-div">
                       <input type="text"  placeholder="비밀번호를 설정해주세요." />
                       <button>설정</button>
                    </div>

            </div>
            <div class = "expire-date-div">
                <span>만료일 설정</span>
                <div class="abc-radio">
                    <input type="radio" id="radio7" name="expire-date-2" value="">
                    <label for="radio7" class="default-period-label" class="default-label">
                        기한 없음
                    </label>
                </div>
                <div class="abc-radio">
                    <input type="radio" id="radio8" name="expire-date-2" value="">
                    <label for="radio8" class="expire-period-label">
                       특정 기간까지 공유
                    </label>
                </div>

                <div class="period-div">
                  <button class="calendar"><img src="../img/myresume/on.png" alt=""></button>
                <input type="text" class="form-control expire-period"  placeholder="2018-04-04"/>

                   <button>설정</button>
                </div>

            </div>
            
        </div>
        
    </div>
    <div class="modal-footer">
       <a>URL 링크삭제</a>
        <button class="confirm-btn primary-solid-btn">확인</button>
        <button class="cancel-btn border-btn">취소</button>
    </div>
</div>

<div id="nexledger-txid-info-dialog" class="modal">
    <div>
        <h3>거래 상세정보</h3>
    <div style="width: 580px; height: 533px;">
        <!-- Contens -->
        <div class="popup-contents popup-overflowHidden" style="overflow-y:auto !important">
            <div class="popup-table02 mgt5">
                <table>
                    <colgroup>
                        <col style="width:126px">
                        <col style="">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <td id="tx_id">58af4a7836336521014d45ad0d6046303d6c730e9e16d1939f0c99e17ae234bb</td>
                        </tr>
                        <tr>
                            <th data-i18n="admin_ctn_from_address">발신 주소</th>
                            <td id="fromaddress"></td>
                        </tr>
                        <tr id="toAddress">
                            <th data-i18n="admin_ctn_to_address">수신 주소</th>
                        <td style="float:left">1Ly3treLpoF1MqbmXKFpYxzznoxNYS9MTi</td><td style="float:right">99,990,000</td><td style="float:left">155WAnc5m7RFjjLgQJjQN82nr7xjYXN2wg</td><td style="float:right">10,000</td><td style="float:left"></td><td style="float:right">0</td></tr>
                        <tr>
                            <th data-i18n="admin_ctn_ouput">Output</th>
                            <td id="total_volume">100,000,000</td>
                        </tr>
                        <tr>
                            <th data-i18n="admin_ctn_tx_fee">거래 수수료</th>
                            <td id="transactionfee">0</td>
                        </tr>
                        <tr>
                            <th data-i18n="admin_ctn_total_tx">총 거래 건수</th>
                            <td id="total_output">100,000,000</td>
                        </tr>
                        <tr>
                            <th>크기</th>
                            <td id="txsize">311 Byte</td>
                        </tr>
                        <tr id="input_script">
                            <th data-i18n="admin_ctn_input_script">입력 스크립트</th>
                        <td>PUSHDATA(71)[3044022012e30d59b8c246c41e764c6241e3e2145c7c72af1d2c6dcf147ef8b8063b3a0d022015053df8c08d2343f5e60d7a35f183ebac8cc99acdbc5fb7d0d909eebc829d7201] PUSHDATA(65)[04a5c24897343b8a210101be4949e1c6178882ba5059bce517884261f0eb0bff6d023a2e670d1c72bed97beefd2fcb626e89f866c0e1e43930eb6bc061b35293e2]</td></tr>
                        <tr id="output_script">
                            <th data-i18n="admin_ctn_output_script">출력 스크립트</th>
                        <td>DUP HASH160 PUSHDATA(20)[db04197f41fa5f37fc9550ba4d55e9db2229fafb] EQUALVERIFY CHECKSIG</td><td>DUP HASH160 PUSHDATA(20)[2cba840c33515e265a1c8ab425a8d6c5e4443201] EQUALVERIFY CHECKSIG</td><td>RETURN PUSHDATA(43)[7b2268617368223a226464646464646464646464646464646464646464646464646464646464646464227d]</td></tr>
                        <tr>
                            <th>OP return</th>
                            <td id="opReturnCode">{"hash":"dddddddddddddddddddddddddddddddd"}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    <!-- Contens end-->
    </div>
</div>
    
<script>
        <%/* 원본 데이터 */%>
        <% if(record) {%>
        if (!!window.sessionStorage) {
            sessionStorage.setItem('<%= txid %>', JSON.stringify(<%- record %>));
        }
        <% } %>
        setCertViewer('<%= txid %>');
    </script>
</body>
