<%- include('base_head_import') -%>
<%- include('base_all_dialog') -%>

<head>
    <link rel="stylesheet" href="css/mypage/mycert.css">
    <script type="text/javascript" src="js/crypto-js/crypto-js.js"></script>
    <script src="js/jsrsasign/jsrsasign-all-min.js"></script>
    <!-- <script src="js/aesutil.js"></script> -->
    <script src="js/mainpage.js"></script>
</head>

<body>
    <%- include('base_header') -%>
    <div id="main-body">
        <div class="container">
            <div id="myresume-div">      
                     <div class="grid myresume-grid">
                    <p>레쥬메</p>
                    <p>연계된 기관들로부터 불러온 이력사항을 클릭하여, 증명서 발급 및 이력서를 쉽게 생성할수 있습니다.</p>
                    <img id="refresh_record" src="img/myresume/reload.svg" />
                    <p id="updateTime">업데이트 : <script>currentDate('<%= modified %>')</script></p>                                        
                    <div class="spec-div">
                        <div id="spec_edu_detail" class="spec-detail-div">
                            <div class="spec-title">

                                <span>학력</span>
                                <span><a href="#education-add-dialog" rel="modal:open"  class="add-span">+ 추가</a></span>

                            </div>

                            <div id="spec_edu_detail_targetdiv" class="spec-body-default" style="display:none">
                                학력 정보가 없습니다. 
                            </div>                            
                            <!-- loading start-->
                            <div id="loading" class='timeline'>
                                <div class='animated-bg'>
                                    <div class='p01'></div>
                                    <div class='p02'></div>
                                    <div class='p04'></div>
                                    <div class='p05'></div>
                                    <div class='p06'></div>
                                    <div class='p07'></div>
                                    <div class='p08'></div>
                                    <div class='p09'></div>
                                    <div class='p11'></div>
                                    <div class='p12'></div>
                                    <div class='p13'></div>
                                    <div class='p14'></div>
                                    <div class='fp15'></div>
                                </div>
                            </div>
                            <!-- loading end --> 
                        </div>
                        <div id="spec_forign_lang" class="spec-detail-div">
                            <div class="spec-title">

                                <span>외국어</span>
                                <span><a href="#language-add-dialog" rel="modal:open" class="add-span">+ 추가</a></span>

                            </div>
                            
                            <div id="spec_forign_lang_targetdiv" class="spec-body-default" style="display:none">
                                외국어 성적 정보가 없습니다. 
                            </div>
                            <!-- loading start -->
                            <div id="loading" class='timeline'>
                                <div class='animated-bg'>
                                    <div class='p01'></div>
                                    <div class='p02'></div>
                                    <div class='p04'></div>
                                    <div class='p05'></div>
                                    <div class='p06'></div>
                                    <div class='p07'></div>
                                    <div class='p08'></div>
                                    <div class='p09'></div>
                                    <div class='p11'></div>
                                    <div class='p12'></div>
                                    <div class='p13'></div>
                                    <div class='p14'></div>
                                    <div class='fp15'></div>
                                </div>
                            </div>  
                            <!-- loading end --> 
                        </div>
                        <div id="spec_certification" class="spec-detail-div">
                            <div class="spec-title">

                                <span>자격</span>
                                <span><a href="#cert-add-dialog" rel="modal:open"  class="add-span">+ 추가</a></span>

                            </div>
                            <div id="spec_certification_targetdiv" class="spec-body-default" style="display:none">
                                자격 정보가 없습니다. 
                            </div>
                            <!-- loading start -->
                            <div id="loading" class='timeline'>
                                <div class='animated-bg'>
                                    <div class='p01'></div>
                                    <div class='p02'></div>
                                    <div class='p04'></div>
                                    <div class='p05'></div>
                                    <div class='p06'></div>
                                    <div class='p07'></div>
                                    <div class='p08'></div>
                                    <div class='p09'></div>
                                    <div class='p11'></div>
                                    <div class='p12'></div>
                                    <div class='p13'></div>
                                    <div class='p14'></div>
                                    <div class='fp15'></div>
                                </div>
                            </div>
                            <!-- loading end --> 
                        </div>                
                        
                    </div>

                </div>
            </div>
        </div>
    </div>

    <%- include('base_main_dialog') -%>

    <%- include('base_footer') -%>
</body>
</html>