<%- include('base_head_import') -%>
<%- include('base_all_dialog') -%>

<head>
    <link rel="stylesheet" href="css/mypage/mycert.css">
    <script type="text/javascript" src="js/crypto-js/crypto-js.js"></script>
    <script src="js/jsrsasign/jsrsasign-all-min.js"></script>
    <!-- <script src="js/aesutil.js"></script> -->
    <script src="js/mainpage.js"></script>
</head>

<body>
    <%- include('base_header') -%>
    <div id="main-body">
        <div class="container">
            <div id="myresume-div">      
                     <div class="grid myresume-grid">
                    <p>레쥬메</p>
                    <p>연계된 기관들로부터 불러온 이력사항을 클릭하여, 증명서 발급 및 이력서를 쉽게 생성할수 있습니다.</p>
                    <img id="refresh_record" src="img/myresume/reload.svg" />
                    <p id="updateTime">업데이트 : <script>currentDate('<%= modified %>')</script></p>                                        
                    <div class="spec-div">
                        <div id="spec_edu_detail" class="spec-detail-div">
                            <div class="spec-title">
                                <span>학력</span>
                                <span><a href="#education-add-dialog" rel="modal:open"  class="add-span">+ 추가</a></span>
                            </div>

                            <div id="spec_edu_detail_targetdiv" class="spec-body-default" style="display:none">
                                학력 정보가 없습니다. 
                            </div>                            
                            <!-- loading start-->

                            <div class="spec-body-loading">
                                <div class="spec-left">
                                    <input type="checkbox" id="box-1" />
                                    <label for="box-1"></label>
                                    <div class="default"></div>

                                </div>
                                <div class="spec-center">
                                    <div class="default"></div>

                                </div>
                                <div class="spec-right">
                                    <div class="default-1"></div>
                                    <div class="default-2"></div>
                                    <div class="default-2"></div>
                                    
                                </div>
                            </div>

                            <div class="spec-body-loading">
                                <div class="spec-left">
                                    <input type="checkbox" id="box-1" />
                                    <label for="box-1"></label>
                                    <div class="default"></div>

                                </div>
                                <div class="spec-center">
                                    <div class="default"></div>

                                </div>
                                <div class="spec-right">
                                    <div class="default-1"></div>
                                    <div class="default-2"></div>
                                    <div class="default-2"></div>
                                    
                                </div>
                            </div>
                            <!-- loading end --> 
                        </div>

                        <div id="spec_career_detail" class="spec-detail-div">
                            <div class="spec-title">
                                <span>경력</span>
                                <span><a href="#career-add-dialog" rel="modal:open"  class="add-span">+ 추가</a></span>
                            </div>

                            <div id="spec_career_detail_targetdiv" class="spec-body-default" style="display:none">
                                경력 정보가 없습니다. 
                            </div>                            
                            <!-- loading start-->
                            <div class="spec-body-loading">
                                <div class="spec-left">
                                    <input type="checkbox" id="box-1" />
                                    <label for="box-1"></label>
                                    <div class="default"></div>

                                </div>
                                <div class="spec-center">
                                    <div class="default"></div>

                                </div>
                                <div class="spec-right">
                                    <div class="default-1"></div>
                                    <div class="default-2"></div>
                                    <div class="default-2"></div>
                                    
                                </div>
                            </div>

                            <div class="spec-body-loading">
                                <div class="spec-left">
                                    <input type="checkbox" id="box-1" />
                                    <label for="box-1"></label>
                                    <div class="default"></div>

                                </div>
                                <div class="spec-center">
                                    <div class="default"></div>

                                </div>
                                <div class="spec-right">
                                    <div class="default-1"></div>
                                    <div class="default-2"></div>
                                    <div class="default-2"></div>
                                    
                                </div>
                            </div>
                            <!-- loading end --> 
                        </div>

                        <div id="spec_forign_lang" class="spec-detail-div">
                            <div class="spec-title">

                                <span>외국어</span>
                                <span><a href="#language-add-dialog" rel="modal:open" class="add-span">+ 추가</a></span>

                            </div>
                            
                            <div id="spec_forign_lang_targetdiv" class="spec-body-default" style="display:none">
                                외국어 성적 정보가 없습니다. 
                            </div>
                            <!-- loading start -->
                            <div class="spec-body-loading">
                                <div class="spec-left">
                                    <input type="checkbox" id="box-1" />
                                    <label for="box-1"></label>
                                    <div class="default"></div>

                                </div>
                                <div class="spec-center">
                                    <div class="default"></div>

                                </div>
                                <div class="spec-right">
                                    <div class="default-1"></div>
                                    <div class="default-2"></div>
                                    <div class="default-2"></div>
                                    
                                </div>
                            </div>

                            <div class="spec-body-loading">
                                <div class="spec-left">
                                    <input type="checkbox" id="box-1" />
                                    <label for="box-1"></label>
                                    <div class="default"></div>

                                </div>
                                <div class="spec-center">
                                    <div class="default"></div>

                                </div>
                                <div class="spec-right">
                                    <div class="default-1"></div>
                                    <div class="default-2"></div>
                                    <div class="default-2"></div>
                                    
                                </div>
                            </div>
                            <!-- loading end --> 
                        </div>
                        <div id="spec_certification" class="spec-detail-div">
                            <div class="spec-title">

                                <span>자격</span>
                                <span><a href="#cert-add-dialog" rel="modal:open"  class="add-span">+ 추가</a></span>

                            </div>
                            <div id="spec_certification_targetdiv" class="spec-body-default" style="display:none">
                                자격 정보가 없습니다. 
                            </div>
                            <!-- loading start -->
                            <div class="spec-body-loading">
                                <div class="spec-left">
                                    <input type="checkbox" id="box-1" />
                                    <label for="box-1"></label>
                                    <div class="default"></div>

                                </div>
                                <div class="spec-center">
                                    <div class="default"></div>

                                </div>
                                <div class="spec-right">
                                    <div class="default-1"></div>
                                    <div class="default-2"></div>
                                    <div class="default-2"></div>
                                    
                                </div>
                            </div>

                            <div class="spec-body-loading">
                                <div class="spec-left">
                                    <input type="checkbox" id="box-1" />
                                    <label for="box-1"></label>
                                    <div class="default"></div>

                                </div>
                                <div class="spec-center">
                                    <div class="default"></div>

                                </div>
                                <div class="spec-right">
                                    <div class="default-1"></div>
                                    <div class="default-2"></div>
                                    <div class="default-2"></div>
                                    
                                </div>
                            </div>
                            <!-- loading end --> 
                        </div>                
                        
                    </div>

                </div>
            </div>
        </div>
    </div>

    <%- include('base_main_dialog') -%>

    <%- include('base_footer') -%>
    <div id="select-footer">
        <img src="img/myresume/minus-circle.png" alt="">
        <span>2건의</span>
        <span>이력이 선택되었습니다.</span>
        
        <button>···</button>
        
        <button>이력서 생성</button>
        <button id="cert-issue-button"><a href="#cert-line-dialog" rel="modal:open">증명서 발급</a></button>
    </div>       
</body>
</html>