<%- include('base_head_import') -%>

    <head>
        <link rel="stylesheet" href="/css/mypage/resumesviewer.css">
        <script src="/js/formatter/resumes_formatter.js"></script>
        <script src="/js/resumesviewer.js"></script>
    </head>

    <script>
        setResumeModel('<%- JSON.stringify(resumeModel) %>');
        setUserModel('<%- JSON.stringify(userModel) %>');
    </script>

    <!------ Include the above in your HEAD tag ---------->
    <!--<body onload="rendering(<%- JSON.stringify(resumeModel) %>);">-->

    <body>
        <div class="header">
            <a href="/resumes">
                <img src="/img/certviewer/wt.png" alt="">
            </a>
            <div>
                <p>이력서 생성하기</p>
                <p id="resume_title">Noname_1_20180302</p>
            </div>
            <button id="more-button">···</button>
            <button>전송</button>
            <button>다운로드</button>

            <button id="btn_print">인쇄</button>
            <div class="Line-2"></div>
            <button id="edit-button">편집</button>


            <div id="more-button-div">
                <p>항목#1</p>
                <p>항목#2</p>
                <p>항목#3</p>
            </div>

        </div>

        <div class="main-body">
            <div class="outer-container">
                <div id="resume-user" class="section-1">
                    <h1>이수지</h1>
                    <p><strong>Email</strong> : suj@email.com</p>
                    <p><strong>Mobile</strong> : 010-9959-9958</p>
                    <p><strong>Birth</strong> : 1984-03-02 / 여</p>
       	            <img class="user-profile-background" src="/img/resume-store/user-default.svg" />
                </div>

                <p id="resume-intro" class="short-intro">비즈니스, 개발, UX의 다리 역할을 하는 서비스 기획자 입니다. 현재 서비스 분석/기획 일을 하고 있으며 다양한 유럽 문화권에서의 경험으로 유럽 문화에 대한 지식과 영어가 능통합니다. 고객의
                    가치를 높이는 서비스에 관심이 많습니다.</p>

                <div class="resumes-detail-div">
                    <div class="resumes-title">
                        <span>학력사항</span>
                    </div>
                    <div id="resumes-edu-body">                        
                        
                    </div>

                </div>

                <div class="resumes-detail-div">
                    <div class="resumes-title">
                        <span>외국어</span>
                    </div>

                    <div id="resumes-lang-body">

                    </div>

                </div>

                <div class="resumes-detail-div">
                    <div class="resumes-title">
                        <span>자격</span>
                    </div>

                    <div id="resumes-cert-body">
                        
                    </div>
                </div>

                <div class="footer-container">
                    <p>본 이력서는 레쥬메 서비스를 통해 인터넷으로 발급되었으며 우측 QR코드를 이용하여 이력의 진위여부를 바로 확인할 수 있습니다.</p>
                    <img src="/img/certviewer/qrcode.png" />
                </div>
            </div>
        </div>

        <div id="rename-dialog" class="modal">
            <p>이름 변경
                <span>사용하고 싶은 이력서의 이름을 입력해주세요.</span>
            </p>
            <div class="modal-body">
                <input type="text" id="rename-input" placeholder="Noname_1_20180302">
                <div class="error-message">이미 사용중인 이력서 이름입니다. 다른 이름을 사용해주세요.</div>

            </div>
            <div class="modal-footer">
                <button class="confirm-btn primary-solid-btn">확인</button>
                <button class="cancel-btn border-btn">취소</button>
            </div>
        </div>

        <%- include('base_footer') -%>

    </body>