<%- include('base_head_import') -%>
<head>
    <link rel="stylesheet" href="/css/mypage/certviewer<%= locals.env === 'development' || locals.env === 'local' ? '' : '.min' %>.css">
    <!-- <link rel="stylesheet" href="/css/share-cert-viewer.css"> -->
    <link rel="stylesheet" href="/css/share-cert<%= locals.env === 'development' || locals.env === 'local' ? '' : '.min' %>.css"> 

    <script type="text/javascript" src="/js/libs/crypto-js/crypto-js.js"></script>
    <script src="../js/libs/jquery-qrcode-0.14.0.min.js"></script>
    <script src="/js/share-cert.js"></script>
    <script src="/js/formatter/certs_formatter.js"></script>
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <script>         
            setData('<%- JSON.stringify(data) %>');
    </script>

<div id="cert-verify">
    <div class="main-container">
        <p>본 증명서는 암호로 보호되고 있습니다.<br>
        증명서 확인을 위해 비밀번호를 입력해주세요.</p>
        <input id="cert-confirm-pw" type="password" placeholder="비밀번호를 입력해주세요.">
        <div class="error-message">올바르지 않은 비밀번호 입니다.</div>
        <button id="cert-confirm-btn" class="confirm-btn">확인</button>

    </div>

    <div class="loading-container">
        <div>
             <img src="/img/myresume/group-3.svg" alt="">
                
            <span id="circle-0"></span>
            <span id="circle-1"></span>
            <span id="circle-2"></span>
            <span id="circle-3"></span>
            <span id="circle-4"></span>
            <span id="circle-5"></span>
            
             <img src="/img/myresume/group-4.svg" alt="">
        </div>

            <p>이력서를 생성하고 있습니다.</p>
            <p>발급기관에 이력정보를 요청하고 있습니다.<br/>
                잠시만 기다려주세요.</p>
    </div>

    <span class="bottom-element">Powered By</span>
    <img class="bottom-element" src="/img/common/logo.svg"/>
</div>     

<div id="cert-viewer">
    <div class="header">   
        <a href="/certs"><img style="visibility: hidden" src="../img/certviewer/wt.png" alt=""></a>
        <div>
            <p>증명서 상세보기</p>
            <p></p>       
        </div>
        <button style="visibility: hidden" id="more-button">···</button>
        <a href="#cert-add-dialog" rel="modal:open">
            <button class="primary-solid-btn">   전송
            </button>
        </a>
        
        <button class="border-btn">다운로드</button>
        <button id="btn_print" class="border-btn">인쇄</button>
        
        <div id="more-button-div">
            <p>항목#1</p>
            <p>항목#2</p>
            <p>항목#3</p>
        </div>          
    </div> 

    <div class="main-body">
        <div class="outer-container">
            <div class="inner-container">                     
                <div style="display:none" id="qrcode" class="qrcode"></div>
            </div>
            <p class="hide-in-mobile">본 증명서는 레쥬메 서비스를 통해 인터넷으로 발급되었으며 우측 QR코드를 이용하여 증명서 내용의 진위여부를 확인할 수 있습니다.</p>
        </div>
    </div>
    <div class="main-body-footer">
        <div class="main-body-footer-1st-line">
            <div class="main-body-footer-left">
                <div>
                    <div>
                        <div class="main-body-footer-1">발급기관</div>
                        <div class="main-body-footer-2">발급일</div>
                        <div class="main-body-footer-3">트랜젝션 ID</div>
                    </div>
                    <div>
                        <div class="main-body-footer-4"></div>
                        <div class="main-body-footer-5">
                            <script>
                                var sdate = formatDate('<%= data.created %>');
                                $('.main-body-footer-5').text(sdate);
                            </script>
                        </div>
                        <div class="main-body-footer-6"><%= data.data.txid %></div>
                    </div>
                </div>
            </div>
            <div class="main-body-footer-right">
                <a class="main-body-footer-right-button1">내역 검증</a>
    
            </div>
        </div>
    </div>
    <div class="main-body-footer-decription">
            <div class="main-body-footer-decription-left">증명서 발급에 사용되는 항목들은 발급기관에서 제공하고 있으며, 블록체인에 등록되어 안전하게 보관되고 있습니다.</div>
            <div class="main-body-footer-decription-right">
                <div class="main-body-footer-decription-right-text">Powered By</div>    
                <div class="main-body-footer-decription-right-img">
                    <img src="/img/certviewer/group-10.svg" class="Group-10"></img>
                </div>
            </div>
        </div>
</div>
</body>