<%- include('base_head_import') -%>
<%- include('base_all_dialog') -%>

<head>
    <script src="/js/signup<%= locals.min %>.js"></script>
    <link rel="stylesheet" href="/css/navbar-default<%= locals.min %>.css">
    <link rel="stylesheet" href="/css/signup<%= locals.min %>.css">
</head>

<body>
<%- include('base_header_default') -%>
    <div class="signup-success-container">
        <h2>환영합니다!</h2>
        <p><span><%= name %></span>님의 레쥬메 회원가입을 진심으로 환영합니다.<br>
지금 바로 증명서발급의 혁신적인 세상, 레쥬메를 이용해보세요.</p>
        <a href="/main"><button>메인으로</button></a>
    </div>
</body>

</html>