<!-- {
    client_name: "클라이언트 이름",
    client_id : "ClientId",
    client_secret : "ClientSecret",
    response_type: responseType,
    state: state,
    redirect_uri: redirectUri
} -->

<html>
<head>
    <title> Rezoome OAuth 2.0</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/auth/oauth.css">    
    <script src="/js/auth/oauth.js"></script>    
    <script src="/js/utils.js"></script>    
    <script>
        var state = <%= state || "null" %>,
            clientId = "<%= client_id || '' %>",
            clientSecret = "<%= client_secret || '' %>",
            redirectUri = <%= redirect_uri || "null" %>,
            responseType = <%= response_type || "null" %>;        
    </script>
</head>
<body>
    <div class="login-container">
        <div class="login-info">
            <div><img src="/img/common/logo3.png"></div>
            <p class="login-sub">블록체인 기반 증명서 발급을 위해 <br>
                    매경TEST에서 레쥬메 서비스를 사용합니다.</p>
            
        </div>

        <div id="div-phone">
            <div class="login-pw">
                <p class="pw-sub">휴대폰</p>
                <input id="input_phone" type="input" placeholder="현재 사용중인 휴대폰 번호를 입력해주세요." value="01046464646">
                <button id="btn_phone_check" class="login-button">확인</button>
            </div>

            <div class="phone-info-div">
                <p>휴대폰 번호 입력시 레쥬메 서비스 약관 및 개인정보 보호정책에 <br>
                동의하는 것으로 간주됩니다.</p>
            </div>
        </div>

        <div id="div-pw" style="display:none">
            <div class="login-pw">
                <p class="pw-sub">비밀번호</p>
                <input id="signin_pw" type="password" placeholder="비밀번호를 입력해주세요.">
                <button id="btn_signin" class="login-button">로그인</button>
            </div>

            <div class="find-password-div">
                <a href="#find-password-dialog" rel="modal:open" >비밀번호 찾기</a>
            </div>
        </div>    
    </div>
</body>
</html>